---
---

<section class="about" id="about">
  <div class="container">
    <div class="about-content">
      <div class="about-text">
        <h2 class="section-title">
          <em>Performance</em> is our obsession.<br>
          Every millisecond matters.
        </h2>
        <p class="about-description">
          We're a team of performance-obsessed developers who believe that speed is the foundation of great user experience. Our static sites consistently achieve perfect PageSpeed scores while delivering exceptional results for our clients.
        </p>
        <div class="about-highlights">
          <div class="highlight">
            <h4>500+ Projects Delivered</h4>
            <p>From startups to Fortune 500 companies</p>
          </div>
          <div class="highlight">
            <h4>98% Average PageSpeed</h4>
            <p>Consistently achieving near-perfect scores</p>
          </div>
          <div class="highlight">
            <h4>5+ Years Experience</h4>
            <p>Leading the static site revolution</p>
          </div>
        </div>
      </div>
      <div class="about-image">
        <div class="image-placeholder">
          <span>Team Photo</span>
        </div>
      </div>
    </div>
  </div>
</section>