---
---

<section class="comparison">
  <div class="container">
    <div class="section-intro">
      <h2 class="section-title">
        Why choose <em>static sites</em><br>
        over traditional websites?
      </h2>
    </div>
    
    <div class="comparison-table">
      <div class="comparison-header">
        <div class="header-item">Feature</div>
        <div class="header-item">Traditional Sites</div>
        <div class="header-item highlight">Static Sites</div>
      </div>
      
      <div class="comparison-row">
        <div class="row-feature">Load Time</div>
        <div class="row-value">2-5 seconds</div>
        <div class="row-value highlight">0.1-0.5 seconds</div>
      </div>
      
      <div class="comparison-row">
        <div class="row-feature">Security</div>
        <div class="row-value">Vulnerable</div>
        <div class="row-value highlight">Ultra Secure</div>
      </div>
      
      <div class="comparison-row">
        <div class="row-feature">Hosting Cost</div>
        <div class="row-value">$20-200/month</div>
        <div class="row-value highlight">$0-10/month</div>
      </div>
      
      <div class="comparison-row">
        <div class="row-feature">PageSpeed Score</div>
        <div class="row-value">60-80</div>
        <div class="row-value highlight">95-100</div>
      </div>
    </div>
  </div>
</section>